$fontColor1: #6e7a89 !default; //字体颜色，浅色
$fontColor2: #2b3e54 !default; //字体颜色，深色

$fontSize: 16px !default;
$bgColor: #ebeef2 !default;
$borderColor: #ccd4d4 !default;
$inner: 20px !default;

// ----- base
*,
*:before,
*:after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

// input[type='search'] {
//   box-sizing: border-box;
// }

html {
  background-color: $bgColor;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // min-width: 100vw;
  // min-height: 100vh;
}
body {
  font-family: $fontFamily;
  // @extend .font-ui;
  font-size: $fontSize;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: .01em;

  color: $fontColor2;

}

a {
  text-decoration: none;
  color: $fontColor2;
}

p {
  margin: 0 0 1em 0;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(#000, .25);
  /*no*/
}

a,
button,
input,
textarea,
select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  // line-height:100%;

  margin: 0;
}

table {
  margin-bottom: 1.5em;

  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  padding: .2em .6em;
}

figure {
  margin: 0;
}

// ----- mixin

::selection {
  color: #fff;
  background: #1bb982;
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    display: table;

    content: '';
  }

  &:after {
    clear: both;
  }
}

.img-replace {
  display: inline-block;
  overflow: hidden;

  white-space: nowrap;
  text-indent: 100%;

  color: transparent;
}

.inner {
  margin-right: $inner;
  margin-left: $inner;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrap {
  position: relative;

  height: 100%;
}

.no-select {
  cursor: default;
  user-select: none;
}

.click {
  cursor: pointer;
  user-select: none;
}

.hide {
  display: none; //!important;

  pointer-events: none;
}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: inline-block;

  max-width: 100%;
  height: auto;

  vertical-align: middle;

  -ms-interpolation-mode: bicubic;
}

.price::before {
  display: inline-block;

  content: '\00A5';
}

.icon {
  overflow: hidden;

  width: 1em;
  height: 1em;

  vertical-align: -.15em;

  fill: currentColor;
}

.hidden {
  overflow: hidden;
}
