@charset 'utf-8';

@import 'normalize';

* {
  box-sizing: border-box;
}
.label {
  font-family: sans-serif;
}
.hide {
  display: none;
}
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.inner {
  margin-right: 15px;
  margin-left: 15px;
}

.no-select {
  cursor: default;
  user-select: none;
}

#app {
  font: normal 400 11px/16px Inter,Roboto,sans-serif;
  font-weight: 400;
  color: #333;
}
